<div class="intro">
	<%= image_tag("padibility_kangaroo.png") %>
	<p>Finding Room For People</p>
		
	<ul class="entrance">
		<li class="pad"><%= link_to 'Need a Pad?', seekerssurvey_path %></li>
		<li class="pad"><%= link_to 'Got a Pad?', ownerssurvey_path %></li>
		<li class="pad"><%= link_to 'Browse Pad Seekers', browseseekers_path %></li>
		<li class="pad"><%= link_to 'Browse Pad Owners', browseowners_path %></li>
		<li class="learn">Learn More</li></a>
	</ul>
	</div>