<h2>Browse Seekers</h2>
	<h4>SORT BY:</h4><select class="sort">
		<option value="Compatibility">Compatibility</option>
		<option value="Update Recency">Update Recency</option>
		<option value="Price Range">Price Range</option>
		<option value="Distance from Me">Distance from Me</option>
		<option value="Register Date">Register Date</option>
	</select>
	<table id="seekers">
		<tr>
			<td><div class="cell"><img src="images/miguel.jpg" class="thumbnail" />
				<p class="fullname">Miguel Castillo</p>
				<p class="percent">78%</p></div>
			</td>
			<td><div class="cell"><img src="images/andrea.jpg" class="thumbnail" />
				<p class="fullname">Andrea Schneider</p>
				<p class="percent">51%</p></div>
				</td>
				<td><div class="cell"><img src="images/jamie.jpg" class="thumbnail" /><p class="fullname">Jamie Seymour</p>
				<p class="percent">75%</p></div></td>
		</tr>
		<tr>
			<td><div class="cell"><img src="images/liam.jpg" class="thumbnail" />
				<p class="fullname">Liam Blackwell</p>
				<p class="percent">67%</p></div>
			</td>
			<td><div class="cell"><img src="images/meaghan.jpg" class="thumbnail" />
				<p class="fullname">Meaghan Underwood</p>
				<p class="percent">44%</p></div>
			</td>
			<td><div class="cell"><img src="images/david.jpg" class="thumbnail" />
				<p class="fullname">David Randall</p>
				<p class="percent">56%</p></div></td>
		</tr>
		<tr>
			<td><div class="cell"><img src="images/jessica.jpg" class="thumbnail" /><p class="fullname">Jessica Wallace</p>
				<p class="percent">59%</p></div></td>
					<td><div class="cell"><img src="images/matthew.jpg" class="thumbnail" /><p class="fullname">Matthew Song</p>
						<p class="percent">76%</p></div></td>
						<td><div class="cell"><img src="images/kevin.jpg" class="thumbnail" /><p class="fullname">Kevin Moulton</p>
							<p class="percent">60%</p></div>
		</tr>
		<tr>
			<td><div class="cell"><img src="images/kelly.jpg" class="thumbnail" /><p class="fullname">Kelly Donovan</p>
				<p class="percent">82%</p></div></td>
				<td><div class="cell"><img src="images/jennifer.jpg" class="thumbnail" /><p class="fullname">Jennifer Burns</p>
					<p class="percent">35%</p></div></td>
						<td><div class="cell"><img src="images/cameron.jpg" class="thumbnail" /><p class="fullname">Cameron Wiley</p>
							<p class="percent">82%</p></div></td>
		</tr>
		<tr>
			<td><div class="cell"><img src="images/christian.jpg" class="thumbnail" />
					<p class="fullname">Christian Watson</p>
					<p class="percent">84%</p></div>
				</td>
				<td><div class="cell"><img src="images/whitney.jpg" class="thumbnail" /><p class="fullname">Whitney Morrison</p>
					<p class="percent">54%</p></div></td>
					<td><div class="cell"><img src="images/stephen.jpg" class="thumbnail" /><p class="fullname">Stephen Lowell</p>
						<p class="percent">71%</p></div></td>
		</tr>

	</table>
<!--<div id="profile">
		<div class="general">
		<img src="images/charlie_thumb.jpg" height="200" width="200" />
		<span class="basics"><%= image_tag @user.avatar.url %>
			<h2><%= @survey.name %></h2>
		<p><%= @survey.user_status %><br />
			Seeking <strong><%= @survey.roommates_estimate %><%= @survey.coed %></strong> roommates ages <strong><%=  @survey.age_min %> - <%=  @survey.age_min %></strong><br />
			Currently lives in <strong><%= @survey.hometown %></strong><br />
			Seeking to live in <strong><%= @survey.housing_type %></strong> in <strong><%= @survey.moving_to %></strong><br />
			Seeking to spend up to <strong><%= @survey.max_rent %></strong></p></span>
		</div>
		<p>Goes to sleep at <strong><%= @survey.bedtime %></strong><br />
			Wakes up at <strong><%=  @survey.wake_up %></strong><br />
			Sociability: <strong><%=  @survey.sociability %></strong><br />
			Tidiness: <strong><%=  @survey.tidiness %></strong><br />
			Question for Potential Roommate: <strong><%=  @survey.question %></strong> <span class="answer">Answer</span><br />
			Ideal Noise Level: <strong><%=  @survey.noise %></strong><br />
			Political Views: <strong><%= @survey.political %></strong><br />
			Religious Views: <strong><%=  @survey.religion %></strong><br />
			Activities & Interests: <strong><%=  @survey.interest %></strong><br />
			<span class="nosmoke">Doesn't smoke</span><span class="smoking">Smokes <%=  @survey.smokeoften %><%=  @survey.smokesocially %></span><br />
			<span class="nodrink">Doesn't drink</span><span class="drinking">Drinks <%=  @survey.drinkoften %><%=  @survey.drinksocially %></span><br />
			<span class="nodrugs">Doesn't do drugs</span><span class="druggie">Does drugs <%=  @survey.drugsoften %><%=  @survey.drugssocially %></span><br />
			<span class="sexlife"><%=  @survey.sexualactivity %>
			</span>
			<strong><%=  @survey.sexprivacy %></strong> with <strong>sex</strong><br />
			<strong><%=  @survey.overnight %><%=  @survey.overnightoften %></strong><br />
			<strong><%=  @survey.roommate_pet %><%=  @survey.apartment_pet %></strong></p>
			<hr />
			<p class="edit">Edit Profile</p>
	</div>-->