<div id="wrapper">
    <div id="questionnaire">            
        <%= form_for Survey.new do |f| %>
        <div id="form_one_page" class="font one page link">
        <form action="/form_db_1" method="post" name="quiz" id="quiz">
                <h3 class="title">Owners' Questionnaire</h3>
                <div class="schoolemail">
                    <p><%= f.label :email, "Your school email address:" %>
                    <span id="send"><%= f.text_field :email, "size" => 57 %></span></p>
                    <p><%= f.label :first_name, 'Your name:' %> 
                    <span id="writename"><%= f.text_field :first_name, "size" => 25 %>   <%= f.text_field :last_name, "size" => 25 %></span></p>
                </div>
                <div class="holder">
                    <div>
                        <p><%= f.label :housing_type, "Type of housing:" %>
                        <%= radio_button_tag(:housing_type, "Apartment") %> Apartment 
                        <%= radio_button_tag(:housing_type, "House") %> House 
                        <%= radio_button_tag(:housing_type, "Other (Please specify") %> Other <%= f.text_field :housing_type %>
                        </p>
                        <p><%= f.label :realty, "What company do you represent?" %>
                        <%= f.text_field :realty %>
                        <div class="button-holder">
                            <%= f.label :availability, "Availability:" %>
                            <%= radio_button_tag(:availability, "Only a room") %> Only a room
                            <%= radio_button_tag(:availability, "The whole pad") %> The whole pad 
                        </div></p>
                    </div>
                </div> 
                <br />
            <div class="holder">
                 <div>
                    <%= f.label :hometown, "Where are you located? (We will be expanding to more cities in the coming weeks!)" %></p>
                    <div class="button-holder">
                        <table class="cityoptions">
                            <tbody>
                                <tr>
                                    <td><%= radio_button_tag(:hometown, "New York City") %> New York City </td>
                                    <td><%= radio_button_tag(:hometown, "Boston") %> Boston 
                                    </td>
                                    <td><%= radio_button_tag(:hometown, "Washington, D.C.") %> Washington, D.C. </td>
                                    <td><%= radio_button_tag(:hometown, "San Francisco") %> San Francisco </td>
                                </tr>
                                <tr>
                                    <td><%= radio_button_tag(:hometown, "Chicago") %> Chicago </td>
                                    <td><%= radio_button_tag(:hometown, "Los Angeles") %> Los Angeles </td>
                                    <td id="other" colspan="2"><%= radio_button_tag(:hometown, "Other") %> Other 
                        <%= f.text_field :hometown, "size" => 45 %></td>
                    </tr>
                </tbody>
            </table>
                        </div>
                    </div>
                </div>
                 <!-- End of holder -->     
            <!--change hometown to location-->
             <div class="holder">
                <p><%= f.label :gender, "What is your gender?" %>
                    <%= radio_button_tag(:gender, "Male") %> Male 
                    <%= radio_button_tag(:gender, "Female") %> Female 
                    <%= radio_button_tag(:gender, "Other") %> Other </p>
            </div> 

            <div class="holder">
                <p><%= f.label :coed, "Are you okay with co-ed housing?" %>
                <%= radio_button_tag(:coed, "Yes") %> Yes 
                    <%= radio_button_tag(:coed, "No") %> No </p>
            </div> 

            <div class="holder">
                <div>
                    <p><%= f.label :age, "How old are you?" %>
                        <%=f.text_field :age %></p>
                </div>
            </div>

                
            <div class"holder">
                <div class="housing_both">
                    <p><%= f.label :max_rent, "Monthly Price of Rent (per Person):" %>
                        <%= f.text_field :max_rent %></p>
                        <!--change max rent to rent-->
                </div>
            </div> <!-- End of holder -->
            
            <div class="holder">
                <p><%= f.label :move_in, "Move in date:" %>
                    <!--insert move in field here-->
                    </p>
                <p><%= f.label :move_out, "Move out date (optional):" %><%= f.text_field :move_out %>
                    <!--insert move out field here-->
                </p>
            </div> <!-- End of holder -->

            <div class="holder">
                <!--<div class="housing_both">-->
                    <p><%= f.label :bedrooms, "How many bedrooms would you prefer to have in your apartment?" %>
                        <%= f.text_field :bedrooms %></p>
            </div>
                    
                    <div class="button-holder">
                        <p><%= f.label :bathrooms, "How many bathrooms are in your pad?" %></p>
                        <!--insert bathrooms field here-->
                    </div>
                </div>
            </div>
            <div class="holder">
                <p><%= f.label :list_rooms, "List all other rooms in your pad. (Separate each room with a comma)" %>
                    <!--add list rooms text field--></p>
            </div>
            <div class="holder">
                <p class="residentrange">What is the age range of the residents in your building?" %></p>
                <%= f.label :age_min, "Age Min." %>
                <%= f.text_field :age_min %>
                <%= f.label :age_max, "Age Max." %>
                <%= f.text_field :age_max %>
                <p><%= f.label :age_mode, "What is the age mode (the most common age) of the residents in your building?" %>
                <%= f.text_field :age_mode %></p>
            </div>

            <div class="holder">
                <div class="housing_both">
                    <p><%= f.label :amenities, "What minimum amenities would you prefer to have in your apartment?" %></p>
                    <div class="button-holder">
                        <table>
                            <tr>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Balcony") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Dishwasher") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Doorman") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Elevator") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Furnished") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Garage") %></td>
                    </tr>
                    <tr>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Gym") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "In-Unit Laundry") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Laundry Room") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Outdoor Space") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Parking") %></td>
                        <td><%= check_box_tag(:amenities) %><%= label_tag(:amenities, "Terrace") %></td>
                    </tr>
                    </table>
                    </div>
                </div>
            </div>

            <div class="holder">
                 <div>
                    <p>Are pets allowed in your pad?</p>
                    <div class="button-holder">
                        <!--insert radio button pet answers here-->
                    </div>
                </div>
            </div> 

            <div>
                <%= f.label :address, "What is the address of your pad?" %>
                <%= f.text_field :address %>
            </div>

            <div class="housing_only">
                <span class="terms_error">Please read the <a href="/terms" target="_blank">Terms & Conditions</a></span>
                <%= check_box_tag(:terms) %>
                <%= label_tag(:terms, "I have read the Terms & Conditions") %>
            </div>
            
            <div class="circle_wrapper roommates_both">
                <div class="dark_circle" ></div>
                <div class="light_circle" ></div>
                <div class="light_circle" ></div>
            </div>
            </div>
            <div class="housing_only">
                <div class="submit_button">
                <input id="submit_room_only" class="nextbutton one pages submitbutton" type="submit" name="submit" value="Submit!" disabled/>
                </div>
            </div>

        </form>
        <form action="FileUpload.php" method="post" enctype="multipart/form-data">
    <label for="upload">Upload your Profile Photo:</label><br />
    <input type="file" name="upload" id="upload"><br/>
    <input type="submit" name="submit" value="Upload">
</form>
<form action="FileUpload.php" method="post" enctype="multipart/form-data">
    <label for="upload">Upload Photos of your Pad:</label><br />
    <input type="file" name="upload" id="upload"><br/>
    <input type="submit" name="submit" value="Upload">
    <div class="roommates_both">
                <input id="next1" class="nextbutton one pages" type="submit" name="submit" value="Save and continue >"/>
            </div>
</form>
        </div> <!-- End of page one -->
        </div>
        
        
         <% end %>
    </div> <!-- End of wrapper -->