<!DOCTYPE html>
<html>
<head>
  <title>Padibilityweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<span class="menu-trigger">MENU</span>
	<div class="nav">
	<ul class="clearfix">
		<li class="glow" id="house"><%= link_to "#{image_tag("home.png")}".html_safe, root_path %></li>
		<li class="glow"><%= link_to ("<span>How it Works</span>").html_safe, howitworks_path %></li>
		<li class="glow"><%= link_to ("<span>The Team</span>").html_safe, team_path %></li>
		<li class="glow"><%= link_to ("<span>Contact Us</span>").html_safe %></li>
		<% if user_signed_in? %>
		<li class="glow">
			<%= link_to ("<span>Log Out</span>").html_safe, destroy_user_session_path, :method=>'delete' %>
		</li>
		<li class="glow">
				<%= link_to ("<span>I'm All Set!</span>").html_safe, "#" %>
			</li>
			<% else %>
			<li>
			<%= link_to ("<span>Log In</span>").html_safe, new_user_session_path %></li>
			<% end %>
			<% if user_signed_in? %>
				<%= link_to 'edit account', edit_user_registration_path %>
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			<% else %>
				<%= link_to 'sign in', new_user_session_path %>
		 	<li class="glow">
				<!-- insert avatar here -->
			 </li> 

			<li class="glow">
				<%= link_to ("<span>Sign Up</span>").html_safe, new_user_registration_path %>
			</li>
			<li><%= image_tag user.avatar.url(:square) %> <%= @survey.first_name %> <%= @survey.first_name %></li>
			<% end %>
	</ul>

</div>
</header>
<body>

<%= yield %>

<footer><div id="copyright">Copyright Padibility 2014 <span class="pad_contact">Contact us: <a href="info@padibility.com">info@padibility.com</a></span></div>
	</footer>
</body>
</html>
