<!DOCTYPE html>
	<html>
	<head>
	  <title>Padibilityweb</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<header class="navbar-default navbar-fixed-top" role="navigation">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<span class="menu-trigger">MENU</span>
		<div class="nav"><span class-"navbar-header">
		<span class="navbar-brand"><%= link_to "#{image_tag("home.png")}".html_safe, root_path %></span></span>
		<ul class="clearfix navbar-right"><li class="glow"><%= link_to ("<span>How it Works</span>").html_safe, howitworks_path %></li>
			<li class="glow"><%= link_to ("<span>The Team</span>").html_safe, team_path %></li>
			<li class="glow"><%= link_to ("<span>Contact Us</span>").html_safe %></li>
				<% if user_signed_in? %>
				<li id="settings" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span> <span id="gutter"><%= current_user.email%> <%= image_tag current_user.avatar.url(:thumb) %></span>
    <ul class="dropdown-menu" role="menu">
    	<li id="update"><%= link_to 'Edit Profile', edit_user_registration_path %></li><br /><hr />
      <li role="logout"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li><br /><hr id="tablet" />
      <li role="allset"><%= link_to ("<span>I'm All Set!</span>").html_safe, "#" %></li>
    </ul>
  </li></div>
				<% else %>
					<li id="settings">
					<li class="glow"><%= link_to 'Sign In', new_user_session_path %></li>
				<li class="glow">
					<%= link_to ("<span>Sign Up</span>").html_safe, new_user_registration_path %>
				</li>
				
		</ul>

	</div>
	<% end %>
	</header>
	<body>

	<%= yield %>

	<footer class="footer"><div id="copyright">Copyright Padibility 2014 <span class="pad_contact">Contact us: <a href="info@padibility.com">info@padibility.com</a></span></div>
		</footer>
	</body>
	</html>